.drawer-container{
    width: 100%;
    height: 100%;
}
.menu-title{
    text-align: center;
}
.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.menu-list-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.5rem;
    align-content: center;
    height: 100%;
}
.content-toolbar{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.content-main-container{
    grid-column: 2 / 13;
    grid-row: 1 / 13;
}